.modalWrapper {
  color: #333333;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: grid;
  place-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.modalContent {
  display: flex;
  flex-direction: column;
  min-height: 40vh;
  width: 300px;
  border: 0.5rem outset bisque;
  background-image: url("../images/bg-stats.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.modalBody {
  display: grid;
  place-content: center;
  flex-grow: 1;
}

.modalBody img {
  width: 130px;
  border: 0.3rem inset bisque;
  margin: auto;
}

.modalBody ul {
  display: block;
  margin: 0;
}
.modalBody li {
  list-style: circle;
  margin: 0.5rem 0;
}

.modalBody h3 {
  text-align: center;
}

.modalButtons {
  display: flex;
  justify-content: space-around;
  flex-shrink: 1;
  margin-bottom: 1rem;
}

.modalBtnConfirm {
  transition: all 0.5s ease;
  border: 0.3rem outset #999999;
  background-color: #666666;
  color: white;
  padding: 1rem;
  width: 100px;
  outline: none;
  text-transform: uppercase;
}

.modalBtnCancel {
  transition: all 0.5s ease;
  border: 0.3rem outset rgb(185, 91, 91);
  background-color: brown;
  color: white;
  padding: 1rem;
  width: 100px;
  outline: none;
  text-transform: uppercase;
}

.modalBtnConfirm:hover {
  cursor: pointer;
  border: 0.3rem outset #666666;
  background-color: #333333;
  color: white;
}

.modalBtnCancel:hover {
  cursor: pointer;

  border: 0.3rem outset cadetblue;
  background-color: teal;
  color: white;
}
