/*************/
/* MAIN GRID */
/*************/
.arenaDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  grid-template-areas: "player score enemy";
  margin-top: 1rem;
}
.arenaPlayer {
  grid-area: player;
}

.arenaScore {
  grid-area: score;
}
.arenaEnemy {
  grid-area: enemy;
}

.arenaBackground {
  width: 100%;
  border: 0.5rem outset bisque;
}

/**********/
/* PLAYER */
/**********/
.arenaPlayerContent {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.arenaPlayerImage {
  width: 100px;
  height: 100px;
  margin: 1rem auto 0;
  border: 0.5rem inset bisque;
}

.arenaPlayerStats {
  display: flex;
}

.arenaPlayerStats label {
  margin: 1rem;
}

.arenaPlayerWrapper,
.arenaScoreWrapper,
.arenaEnemyWrapper {
  background-image: url("../../images/bg-stats.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 0.5rem outset bisque;
  height: 32vh;
  color: #333333;
}

progress {
  -webkit-appearance: none;
  width: 90%;
  height: 0.5rem;
  margin: 0.5rem auto;
}

progress::-webkit-progress-bar {
  background: lightgray;
  height: 1rem;
}
.arenaPlayerHealth::-webkit-progress-value {
  background: tomato;
  transition: width 1s ease-in-out;
}

.arenaPlayerEnergy::-webkit-progress-value {
  background: orange;
  transition: width 1s ease-in-out;
}

/*********/
/* ENEMY */
/*********/
.arenaEnemyContent {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.arenaEnemyImage {
  width: 100px;
  height: 100px;
  margin: 1rem auto 0;
  border: 0.5rem inset bisque;
}

.arenaEnemyStats {
  display: flex;
}

.arenaEnemyStats label {
  margin: 1rem;
}

.arenaEnemyHealth::-webkit-progress-value {
  background: tomato;
  transition: width 1s ease-in-out;
}

.arenaEnemyEnergy::-webkit-progress-value {
  background: orange;
  transition: width 1s ease-in-out;
}

/***********/
/* BUTTONS */
/***********/
.arenaButtons {
  display: flex;
  justify-content: space-around;
  flex-shrink: 1;
  margin-bottom: 1rem;
}

.arenaBtnConfirm {
  transition: all 0.5s ease;
  border: 0.3rem outset #999999;
  background-color: #666666;
  color: white;
  padding: 1rem;
  width: 100px;
  outline: none;
  text-transform: uppercase;
}

.arenaBtnCancel {
  transition: all 0.5s ease;
  border: 0.3rem outset rgb(185, 91, 91);
  background-color: brown;
  color: white;
  padding: 1rem;
  width: 100px;
  outline: none;
  text-transform: uppercase;
}

.arenaBtnConfirm:hover {
  cursor: pointer;
  border: 0.3rem outset #666666;
  background-color: #333333;
  color: white;
}

.arenaBtnCancel:hover {
  cursor: pointer;

  border: 0.3rem outset cadetblue;
  background-color: teal;
  color: white;
}
