.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
  max-width: 768px;
  padding: 0 1rem;
  text-align: center;
}

.content {
  flex-grow: 1;
}

header,
footer {
  color: antiquewhite;
  text-shadow: 0.3rem 0.3rem 0.3rem #333333;
}
